# IntellijIdea files
**/.idea

# Нод модули во всех каталогах
**/node_modules
**/dist

# Кэши сасс файлов и пайчарма
**/.sass-cache

**/__pycache__

# локальные файлы, использовались для секретов, но теперь они вне проекта
#**/local__*